html * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #11191f;
    color: #f2f3f4;
}
body {
    font:normal 18px/1.5 Arial, Helvetica, sans-serif;
}

a:link, a:visited { color:white}
a:hover, a:active, a:focus {color:darkorange}
hr {
    margin:4rem auto;
}