html {box-sizing: border-box;}
*,::after,::before {box-sizing:border-box;border:0 solid}
* { margin:0 }
@supports (scrollbar-width: auto) {
* {
  scrollbar-color: #262b2f #000;
  scrollbar-width: thin;
  }
}

body {
  background: radial-gradient(circle at 50% 100%, #262b2f, #000);
  color: #aaa;
  font: normal 16px/1.5 system-ui, sans-serif;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100vw;
}

.split {
  display: flex;
  flex-direction: row;
}

#menu {
  display:block;
  height:100vh;
  max-width: 100%;
  overflow: hidden;
}

#menu nav {
  background: #111;
  border-bottom: 1px solid #212527;
  box-shadow: 0px 1px 15px 10px #212527;
  display: inline-block;
  font-size: 1rem;
  height: 30px;
  min-width: 140px;
  padding: 0.25rem 1rem;
  position: fixed;    
  width: 20%;
}

#menu a, #menu a:visited { 
  color:#fff;
  font-size: 0.875rem; 
  text-decoration:none;
}
#menu a:active, #menu a:hover {color:#ddd}
#menu a[target=_blank]::after {
  content: "↗";
  display: inline-block;
  margin: 0 .3em;
  width: .7em;
}

#menu svg {
  margin-right: .5rem;
  vertical-align: -.175em;
}

#menu > div {
  height:100vh;
  overflow-y: hidden;
  padding: 3.5rem 0.25rem 1rem;
  scrollbar-gutter: stable both-edges;
}

#menu > div:hover {
  overflow-y: auto;
}

#menu > div h3 {
  font-weight: 300;
}

#menu > div p {
  font-size: 0.875rem;
  margin-bottom: 1rem;
}

#menu kbd {
  background: #212527;
  border: 1px solid #111213;
  border-radius: 4px;
  box-shadow: 1px 1px 2px 0 #5a5a5a70;
  color: #fff;
  font-size: 12px;
  padding: 2px 4px;
}

#menu small {
  font-size: smaller;
}
[class^="icon"] {
  background-color:currentColor;
  display:inline-block;
  width:1em;
  height:1em;
  mask-image:var(--svg);
  mask-repeat:no-repeat;
  mask-size:100% 100%;
  vertical-align:-.175em;
}

.icon-db {
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'%3E%3Cpath d='M8 1.75c-3.75 0-5.25 2-5.25 2v8.5s1.5 2 5.25 2s5.25-2 5.25-2v-8.5s-1.5-2-5.25-2'/%3E%3Cpath d='M2.75 8.25s1.5 2 5.25 2s5.25-2 5.25-2m-10.5-4s1.5 2 5.25 2s5.25-2 5.25-2'/%3E%3C/g%3E%3C/svg%3E");
}
.icon-json {
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='M4.5 2.5H4c-.75 0-1.5.75-1.5 1.5v2c0 1.1-1 2-1.83 2c.83 0 1.83.9 1.83 2v2c0 .75.75 1.5 1.5 1.5h.5m7-11h.5c.75 0 1.5.75 1.5 1.5v2c0 1.1 1 2 1.83 2c-.83 0-1.83.9-1.83 2v2c0 .74-.75 1.5-1.5 1.5h-.5m-6.5-3a.5.5 0 1 0 0-1a.5.5 0 0 0 0 1m3 0a.5.5 0 1 0 0-1a.5.5 0 0 0 0 1m3 0a.5.5 0 1 0 0-1a.5.5 0 0 0 0 1'/%3E%3C/svg%3E");
}
.icon-memo {
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' d='M4.5 2A2.5 2.5 0 0 0 2 4.5v7A2.5 2.5 0 0 0 4.5 14h3.672a2.5 2.5 0 0 0 1.767-.732l3.329-3.329A2.5 2.5 0 0 0 14 8.172V4.5A2.5 2.5 0 0 0 11.5 2zM3 4.5A1.5 1.5 0 0 1 4.5 3h7A1.5 1.5 0 0 1 13 4.5V8h-2.5A2.5 2.5 0 0 0 8 10.5V13H4.5A1.5 1.5 0 0 1 3 11.5zm6 8.25V10.5A1.5 1.5 0 0 1 10.5 9h2.25q-.082.124-.19.232l-3.328 3.329q-.107.106-.232.19'/%3E%3C/svg%3E");
}
.icon-rel {
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' d='M8.5 3a.5.5 0 0 0 0 1h2.793L5.879 9.414a2.5 2.5 0 1 0 .707.707L12 4.707V7.5a.5.5 0 0 0 1 0v-4a.5.5 0 0 0-.5-.5zM3 11.5a1.5 1.5 0 1 1 3 0a1.5 1.5 0 0 1-3 0'/%3E%3C/svg%3E");
}
.icon-sql {
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M14 4.5V14a2 2 0 0 1-2 2v-1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5zM0 14.841a1.13 1.13 0 0 0 .401.823q.194.162.478.252c.284.09.411.091.665.091q.507 0 .858-.158q.355-.159.54-.44a1.17 1.17 0 0 0 .187-.656q0-.336-.135-.56a1 1 0 0 0-.375-.357a2 2 0 0 0-.565-.21l-.621-.144a1 1 0 0 1-.405-.176a.37.37 0 0 1-.143-.299q0-.234.184-.384q.187-.152.513-.152q.214 0 .37.068a.6.6 0 0 1 .245.181a.56.56 0 0 1 .12.258h.75a1.1 1.1 0 0 0-.199-.566a1.2 1.2 0 0 0-.5-.41a1.8 1.8 0 0 0-.78-.152q-.44 0-.776.15q-.337.149-.528.421q-.19.273-.19.639q0 .302.123.524t.351.367q.229.143.54.213l.618.144q.31.073.462.193a.39.39 0 0 1 .153.325q0 .165-.085.29A.56.56 0 0 1 2 15.31q-.167.07-.413.07q-.176 0-.32-.04a.8.8 0 0 1-.248-.115a.58.58 0 0 1-.255-.384zm6.878 1.489l-.507-.739q.264-.243.401-.6q.138-.358.138-.806v-.501q0-.556-.208-.967a1.5 1.5 0 0 0-.589-.636q-.383-.225-.917-.225q-.527 0-.914.225q-.384.223-.592.636a2.14 2.14 0 0 0-.205.967v.5q0 .554.205.965q.208.41.592.636a1.8 1.8 0 0 0 .914.222a1.8 1.8 0 0 0 .6-.1l.294.422h.788ZM4.262 14.2v-.522q0-.369.114-.63a.9.9 0 0 1 .325-.398a.9.9 0 0 1 .495-.138q.288 0 .495.138a.9.9 0 0 1 .325.398q.115.261.115.63v.522q0 .246-.053.445q-.053.196-.155.34l-.106-.14l-.105-.147h-.733l.451.65a.6.6 0 0 1-.251.047a.87.87 0 0 1-.487-.147a.9.9 0 0 1-.32-.404a1.7 1.7 0 0 1-.11-.644m3.986 1.057h1.696v.674H7.457v-3.999h.79z'/%3E%3C/svg%3E");
}
.icon-start {
--svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='currentColor' d='M4.608 3.063C4.345 2.895 4 3.089 4 3.418v9.167c0 .329.345.523.608.356l7.2-4.584a.426.426 0 0 0 0-.711zm.538-.844l7.2 4.583a1.426 1.426 0 0 1 0 2.399l-7.2 4.583C4.21 14.38 3 13.696 3 12.585V3.418C3 2.307 4.21 1.624 5.146 2.22'/%3E%3C/svg%3E");
}
.icon-table {
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' d='M11.5 2A2.5 2.5 0 0 1 14 4.5v7a2.5 2.5 0 0 1-2.5 2.5h-7A2.5 2.5 0 0 1 2 11.5v-7A2.5 2.5 0 0 1 4.5 2zM3 6v4h2V6zm10-1v-.5A1.5 1.5 0 0 0 11.5 3h-7A1.5 1.5 0 0 0 3 4.5V5zM6 6v4h4V6zm5 0v4h2V6zm-1 7v-2H6v2zm-5 0v-2H3v.5A1.5 1.5 0 0 0 4.5 13zm6 0h.5a1.5 1.5 0 0 0 1.5-1.5V11h-2z'/%3E%3C/svg%3E");
}

details {
  background: #111213;
  border-radius: 5px;
  box-shadow: 0 .1rem 1rem -.5rem rgba(0,0,0,.4);
  margin: 1rem auto;
  overflow: hidden;
  width: 100%;
}

summary {
  background: #212527;
  cursor: pointer;
  display: block;
  padding: 0.5rem;
  padding-left: 1.5rem;
  position: relative;
  user-select: none;
}

summary:before {
  content: '';
  border-width: .3rem;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
  left: .75rem;
  position: absolute;
  top: 1rem;
  /* transform: rotate(0); */
  transform-origin: 0rem 50%;
  transition: .25s transform ease;
}

/* THE MAGIC 🧙‍♀️ */
details[open] > summary:before {
  transform: rotate(90deg);
}


details summary::-webkit-details-marker {
  display:none;
}

details > ul {
  padding-bottom: 1rem;
  margin-bottom: 0;
}

ul {
  margin-bottom: 1rem;
  padding: 1rem;
}

li {
    align-items: center;
    
    display: flex;
    gap: .5em;
    list-style: none;
    margin-bottom: .125rem;
}

li > a {
  background: #212527;
  border-radius: 5px;
  height: 100%;
  padding: .25rem .5rem;
  width: 100%;
}

li > a:hover {
  background: #111213;
}

.gutter {
  background-color: #212527;
  background-repeat: no-repeat;
  background-position: 50% 50vh;
  border: 1px solid #111213;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}