:root{
--light:#edf2f9;
--black:rgb(1,0,10);
--dark3:hsl(210, 27%, 15%); 
--dark:hsl(210, 19%, 20%);
--dark1:hsl(210, 27%, 21%);
--darker3:hsl(212, 24%, 12%);
--darker:hsl(212, 27%, 15%);
--darker1:hsl(215, 28%, 18%);
--color-primary:var(--color-blue);
--color-primary-50:var(--color-blue-50);
--color-primary-100:var(--color-blue-100);
--color-primary-light:var(--color-blue-light);
--color-primary-lighter:var(--color-blue-lighter);
--color-primary-dark:var(--color-blue-dark);
--color-primary-darker:var(--color-blue-darker);
--color-amber:#f59e0b;
--color-amber-50:#fffbeb;
--color-amber-100:#fef3c7;
--color-amber-light:#d97706;
--color-amber-lighter:#fbbf24;
--color-amber-dark:#b45309;
--color-amber-darker:#92400e;
--color-green:#16a34a;
--color-green-50:#f0fdf4;
--color-green-100:#dcfce7;
--color-green-light:#22c55e;
--color-green-lighter:#4ade80;
--color-green-dark:#15803d;
--color-green-darker:#166534;
--color-blue:#2563eb;
--color-blue-50:#eff6ff;
--color-blue-100:#dbeafe;
--color-blue-light:#3b82f6;
--color-blue-lighter:#60a5fa;
--color-blue-dark:#1d4ed8;
--color-blue-darker:#1e40af;
--color-cyan:#0891b2;
--color-cyan-50:#ecfeff;
--color-cyan-100:#cffafe;
--color-cyan-light:#06b6d4;
--color-cyan-lighter:#22d3ee;
--color-cyan-dark:#0e7490;
--color-cyan-darker:#155e75;
--color-red:#b91c1c;
--color-red-50:#fdf4ff;
--color-red-100:#fee2e2;
--color-red-light:#f87171;
--color-red-lighter:#dc2626;
--color-red-dark:#af1d1d;
--color-red-darker:#991b1b;
--color-slate:#475570;
--color-slate-50:#f8fafc;
--color-slate-100:#f1f5f9;
--color-slate-light:#64748b;
--color-slate-lighter:#94a3b8;
--color-slate-dark:#334155;
--color-slate-darker:#1e293b;
--color-violet:#7c3aed;
--color-violet-50:#f5f3ff;
--color-violet-100:#ede9fe;
--color-violet-light:#8b5cf6;
--color-violet-lighter:#a78bfa;
--color-violet-dark:#6d28d9;
--color-violet-darker:#5b21b6;
/* TODO colorscheme */
--key-gradient: linear-gradient(-225deg,var(--dark),var(--color-primary));
--key-shadow: inset 0 -2px 0 0 var(--darker),inset 0 0 1px 1px var(--color-primary),0 1px 2px 1px rgba(30,35,90,0.4);
--muted-color: #969faf;}
/* tailwindcss & reset versions customized by gigamaster for codemo | MIT License */
html{-moz-tab-size:4;-o-tab-size:4;tab-size:4;line-height:1.15;}
*,::after,::before{box-sizing:border-box;border:0 solid}*{margin:0;}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
::-webkit-search-decoration{-webkit-appearance:none}
body{line-height:1.5;-webkit-font-smoothing:antialiased;margin:0;font-family:system-ui,sans-serif}
body>.scroll-gutter{scrollbar-gutter:stable both-edges;}
::-moz-focus-inner{border-style:none;padding:0}
:-moz-focusring{outline:1px dotted ButtonText}
:-moz-ui-invalid{box-shadow:none}
h1,h2,h3,h4,h5,h6,p{font-size:inherit;font-weight:inherit;overflow-wrap:break-word}
a{color:inherit;text-decoration:inherit}
button,input,optgroup,select,textarea{color:inherit;font:inherit;padding:0;line-height:inherit;}
button,select{text-transform:none}
[type=button],[type=reset],[type=submit],
button{-webkit-appearance:button;background-color:initial;background-image:none;cursor:pointer}
input::-moz-placeholder,textarea::-moz-placeholder{opacity:1;color:#9ca3af}
input:-ms-input-placeholder,textarea:-ms-input-placeholder{opacity:1;color:#9ca3af}
input::placeholder,textarea::placeholder{opacity:1;color:#9ca3af}
table{border-collapse:collapse}
canvas,img,picture,svg,video{display:block;max-width:100%;height:auto}
#__next,#root{isolation:isolate}
[hidden]{display:none}
/* TEXT SELECTION */
::-moz-selection{background-color:transparent;color:var(--color-primary)}
::selection {background-color:var(--color-primary-100);color: var(--color-primary-dark);}
/* Modern browsers */
@supports (scrollbar-width: auto) {
  * {
      scrollbar-color: var(--scrollbar-color-thumb, --color-primary-dark) var(--scrollbar-color-track, --color-primary-darker);
      scrollbar-width: var(--scrollbar-width, thin);
  }
}
/* Legacy browsers */
@supports selector(::-webkit-scrollbar) {
  * ::-webkit-scrollbar-thumb {
      background: var(--scrollbar-color-thumb, --color-primary-dark);
  }
  * ::-webkit-scrollbar-thumb:hover {
    background:  var(--color-primary-lighter, rgb(14, 20, 24));
  }
  * ::-webkit-scrollbar-track {
      background: var(--scrollbar-color-track, --color-primary-darker);
  }
  * ::-webkit-scrollbar {
      max-width: var(--scrollbar-width-legacy, 9px);
      max-height: var(--scrollbar-width-legacy, 9px);
  }
}

/* Font <uniquifier>: class name. <weight>: a value from 200 to 1000 */
.nunito {
font-family: "Nunito", sans-serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
}
nav[aria-label="main"],main{overflow-y:overlay;}
main{min-height:0;height:100%;}
aside.tools>svg{width:20px}
footer{margin-top:auto;}
h1,h2,h3,h4,h5,h6{font-weight:600;}
h5,h6 {font-weight:200;text-transform: uppercase;}
a.download{cursor:pointer;}
.loader {width:27vmin;height:27vmin;}
.cursor-pointer{cursor: pointer;}
.key-bg{background: var(--key-gradient);}
.key {
align-items: center;
background: var(--key-gradient);
border-radius: 3px;
box-shadow: var(--key-shadow);
color: var(--color-primary-100);
display: flex;
font-size: 10px;
justify-content: center;
padding: 0 4px;
margin: auto 2px;
position: relative;
width: 24px;
height: 22px;
}
.logo>img {border-radius: 12px;margin: 0 auto;}
/* default vars */
*,:after,:before{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;
--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1;
--tw-transform:translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
--tw-border-opacity:1;border-color:rgba(229,231,235,var(--tw-border-opacity));
--tw-ring-inset:var(--tw-empty,/*!*/ /*!*/);
--tw-ring-offset-width:0px;
--tw-ring-offset-color:#fff;
--tw-ring-color:rgba(59,130,246,0.5);
--tw-ring-offset-shadow:0 0 #0000;
--tw-ring-shadow:0 0 #0000;
--tw-shadow:0 0 #0000}

/* background - border */
.backdrop-blur-sm {
  --tw-backdrop-blur: blur(4px);
  backdrop-filter: var(--tw-backdrop-blur);
}
.bg-black{background-color:var(--black)}
.bg-black\/20 {background-color: #0003;}
.bg-black\/60 {background-color: #0009}
.bg-loader{background:var(--darker)}
.bg-dark{background-color:var(--dark)}
.bg-darker{background-color:var(--darker)}
.bg-primary{background-color:var(--color-primary)}
.bg-primary-50{background-color:var(--color-primary-50)}
.bg-primary-100{background-color:var(--color-primary-100)}
.bg-primary-dark{background-color:var(--color-primary-dark)}
.bg-primary-darker{background-color:var(--color-primary-darker)}
.bg-gray-100{background-color:rgb(243,244,246)}
.bg-gray-200{background-color: rgb(229 231 235);}
.bg-gray-300{background-color: rgb(209 213 219);}
.bg-white{background-color:rgb(255,255,255)}
.border{border-width:1px}
.border-2{border-width: 2px;}
.border-b{border-bottom-width:1px}
.border-t{border-top-width:1px}
.border-gray-900{border-color:rgba(17,24,39)}
.border-primary-dark{border-color:var(--color-primary-dark)}
.border-transparent{border-color:transparent}
.ring-1{--tw-ring-offset-shadow:var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);--tw-ring-shadow:var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);box-shadow:var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow,0 0 #0000)}
.ring-black{--tw-ring-opacity:1;--tw-ring-color:rgba(0,0,0,var(--tw-ring-opacity))}
.ring-opacity-5{--tw-ring-opacity:0.05}
/* border-radius */
.rounded-md{border-radius:.375rem}
.rounded-lg{border-radius:.5rem}
.rounded-full{border-radius:100px}
/* grid - flex placement */
.block{display:block}
.col-auto{grid-column: auto;}
.col-span-1{grid-column: span 1 / span 1;}
.col-span-2{grid-column: span 2 / span 2;}
.col-span-3{grid-column: span 3 / span 3;}
.col-span-4{grid-column: span 4 / span 4;}
.flex{display:flex}
.flex-auto {flex:1 1 auto;}
.flex-col{flex-direction:column}
.flex-row{flex-direction:row}
.flex-nowrap{flex-wrap:nowrap}
.flex-wrap{flex-wrap:wrap}
.flex-1{flex:1 1 0%}
.flex-shrink-0{flex-shrink:0}
.gap-1{gap: 0.25rem;}
.gap-4{gap:1rem}
.grid-cols-1{grid-template-columns: repeat(1, minmax(0, 1fr));}
.grid-cols-2{grid-template-columns: repeat(2, minmax(0, 1fr));}
.grid-cols-3{grid-template-columns: repeat(3, minmax(0, 1fr));}
.grid-cols-4{grid-template-columns: repeat(4, minmax(0, 1fr));}
.grow{flex-grow: 1;}
.grow-0{flex-grow: 0;}
.hidden{display:none}
.inline-block{display:inline-block}
.inline-flex{display:inline-flex}
.items-center{align-items:center}
.justify-center{justify-content:center}
.justify-between{justify-content:space-between}
.place-items-center{place-items: center;}
/* margin - padding */
.m-1{margin:0.25rem;}
.m-2{margin:0.5rem;}
.m-3{margin:0 .75rem}
.mx-2{margin:0 0.5rem;}
.mx-4{margin:0 1rem;}
.my-2{margin:0.5rem 0;}
.my-4{margin:1rem 0;}
.mb-1{margin-bottom:0.25rem}
.mb-2{margin-bottom:0.5rem}
.mb-4{margin-bottom:1rem}
.mb-6{margin-bottom:1.5rem}
.ml-2{margin-left:.5rem}
.ml-3{margin-left:.75rem}
.ml-4{margin-left:1rem}
.ml-auto{margin-left:auto}
.mt-1{margin-top:.25rem}  /* no */
.mt-2{margin-top:.5rem}
.mr-2{margin-right:.5rem}
.mr-4{margin-right:1rem}
.mr-6{margin-right:1.5rem;}
.mr-8{margin-right:2rem;}
.mx-auto{margin-left: auto;margin-right: auto;}
.-ml-px{margin-left:-1px}
.-mt-3{margin-top:-.75rem}
.p-1{padding:.25rem}
.p-2{padding:.5rem}
.p-4{padding:1rem}
.p-px{padding:1px}
.px-px{padding-left:1px;padding-right:1px}
.px-2{padding-left:.5rem;padding-right:.5rem}
.px-3{padding-left: 0.75rem;padding-right: 0.75rem;}
.px-4{padding-left:1rem;padding-right:1rem}
.px-7{padding-left:1.75rem;padding-right:1.75rem} /* no */
.py-px{padding-top:1px;padding-bottom:1px} /* no */
.py-1{padding-top:.25rem;padding-bottom:.25rem}
.py-2{padding-top:.5rem;padding-bottom:.5rem}
.py-3{padding-top: 0.75rem;padding-bottom: 0.75rem;}
.py-4{padding-top:1rem;padding-bottom:1rem}
.py-6{padding-top:1.5rem;padding-bottom:1.5rem} /* no */
.py-8{padding-top:2rem;padding-bottom:2rem}
.pl-4{padding-left:1rem}.pl-10{padding-left:2.5rem} /* no */
.pt-4{padding-top:1rem}
.pb-1{padding-bottom:.25rem}
.pb-4{padding-bottom:1rem}
.pr-4{padding-right:1rem} /* no */
.pr-10{padding-right:2.5rem} /* no */
/* hidden */
.sr-only{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);white-space:nowrap;border-width:0}
/* position */
.absolute{position:absolute}
.fixed{position:fixed}
.relative{position:relative}
.inset-0{top:0;right:0;bottom:0;left:0}
.inset-x-2{left:0.5rem;right:0.5rem;}
.inset-x-4{left:1rem;right:1rem}
.inset-y-0{top:0;bottom:0}
.left-0{left:0}
.left-1\/2{left:50%}
.right-0{right:0}
.-top-1 {top:-0.25rem;}
.top-0{top:0}
.top-12{top:3rem}
.top-16{top:4rem}
.top-20{top: 5rem;} /* 80px */
.top-24{top:6rem;}  /* 96px */
/* height - width */
.h-screen{height:100vh}
.h-full{height:100%}
.h-3\/4{height: 75%;}
.h-5{height:1.25rem}
.h-4{height:1rem}
.h-8{height:2rem}
.h-9{height:2.25rem}
.h-6{height:1.5rem}
.h-7{height:1.75rem}
.h-10{height:2.5rem}
.h-24{height:6rem}
.max-h-80{max-height: 20rem;} /* 320px */
.max-h-96{max-height: 24rem;} /* 384px */
.max-w-xs{max-width:18rem}
.max-w-xl{max-width: 36rem;} /* 576px */
.max-w-5xl{max-width: 64rem;} /* 1024px */
.w-1\/5{width: 20%;}
.w-1\/4{width: 25%;}
.w-3\/4 {width: 75%;}
.w-4{width:1rem}
.w-5{width:1.25rem}
.w-6{width:1.5rem}
.w-7{width:1.75rem}
.w-8{width:2rem}
.w-12{width:3rem}
.w-10{width:2.5rem}
.w-48{width:12rem}
.w-64{width:16rem}
.w-full{width:100%}
.z-10{z-index:10}
.z-20{z-index:20}
.z-50{z-index:50}
/*  object */
.object-cover{-o-object-fit:cover;object-fit:cover}
.opacity-0{opacity:0} /* no */
.opacity-80{opacity: 0.8;} /* no */
.opacity-100{opacity:1}
.origin-top-right{transform-origin:top right}
.outline{outline-style: solid;}
.outline-2{outline-width: 2px;}
.outline-slate-400{outline-color: #CBD5E1}
.outline-gray-100{outline-color: #f1f5f9;}
.outline-gray-500{outline-color: #6b7280;}
.outline-none{outline:2px solid transparent;outline-offset:2px}
.overflow-hidden{overflow:hidden}
.overflow-visible{overflow:visible}
.overflow-x-hidden{overflow-x:hidden}
.overflow-y-auto{overflow-y:auto}
.overflow-y-hidden{overflow-y:hidden}
.overlay{background-color:var(--darker); opacity:0.8}
.rotate-180{--tw-rotate:180deg}
.rotate-180,.scale-110{transform:var(--tw-transform)}
/* shadow */
.shadow-sm{--tw-shadow:0 1px 2px 0 rgba(0,0,0,0.05)}
.shadow-lg,
.shadow-sm{box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}
.shadow-lg{--tw-shadow:0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05)}
.shadow-xl{--tw-shadow:0 20px 25px -5px rgba(0,0,0,0.1),0 10px 10px -5px rgba(0,0,0,0.04)}
.shadow-md,.shadow-xl{box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}
.shadow-md{--tw-shadow:0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06)}

.space-y-2>:not([hidden])~:not([hidden]){--tw-space-y-reverse:0;margin-top:calc(.5rem*(1 - var(--tw-space-y-reverse)));margin-bottom:calc(.5rem*var(--tw-space-y-reverse))}
.space-y-4>:not([hidden])~:not([hidden]){--tw-space-y-reverse:0;margin-top:calc(1rem*(1 - var(--tw-space-y-reverse)));margin-bottom:calc(1rem*var(--tw-space-y-reverse))}
/* typography */
.antialiased{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.font-semibold{font-weight:600}
.font-bold{font-weight:700} /* no */
.font-medium{font-weight:500}
.font-normal{font-weight:400}
.uppercase{text-transform:uppercase}
.tracking-wider{letter-spacing:.05em}
.text-base{font-size:1rem;line-height:1.5rem} /* no */
.text-sm{font-size:.875rem;line-height:1.25rem}
.text-center{text-align:center}
.text-right{text-align: right;}
.time,.size{font-size:.75rem;text-align:center}
.text-xs{font-size:.75rem;line-height:1rem}
.text-lg{font-size: 1.125rem;line-height:1.75rem;}
.text-xl{font-size: 1.25rem;line-height:1.75rem;}
.text-2xl{font-size: 1.5rem;line-height:2rem;}
/* text color */
.text-gray-200{color:rgb(229 231 235)}
.text-gray-300{color:rgb(209,213,219)} /* no */
.text-gray-400{color:rgb(156,163,175)}
.text-gray-500{color:rgb(107,114,128)}
.text-gray-700{color:rgb(55,65,81)}
.text-gray-900{color:rgb(17,24,39)}
.text-primary{color:var(--color-primary)}
.text-primary-100{color:var(--color-primary-100)}
.text-primary-light{color:var(--color-primary-light)}
.text-primary-lighter{color:var(--color-primary-lighter)}
.text-primary-dark{color:var(--color-primary-dark)}
.text-blue-500{--tw-text-opacity:1;color:rgba(59,130,246,var(--tw-text-opacity))}
.text-green-500{--tw-text-opacity:1;color:rgba(16,185,129,var(--tw-text-opacity))} /* no */
.text-red-500{color: rgb(239 68 68);}
.text-gray-600{--tw-text-opacity:1;color:rgba(75,85,99,var(--tw-text-opacity))}
.text-blue-600{--tw-text-opacity:1;color:rgba(37,99,235,var(--tw-text-opacity))} /* no */
.text-dark{color:var(--dark)} /* no */
.text-danger-light{--tw-text-opacity:1;color:rgba(239,68,68,var(--tw-text-opacity))} /* no */
.text-light{color:var(--light)}
.text-white{color:rgb(255,255,255)}
.truncate{overflow:hidden;text-overflow:ellipsis;white-space: nowrap;}
.truncate,.whitespace-nowrap{white-space:nowrap}
.hover\:overflow-y-auto:hover{overflow-y:auto}
.hover\:border-gray-900:hover{--tw-border-opacity:1;border-color:rgba(17,24,39,var(--tw-border-opacity))} /* no */
.hover\:bg-primary:hover{background-color:var(--color-primary)} /* no */
.hover\:bg-primary-100:hover{background-color:var(--color-primary-100)} /* no */
.hover\:bg-primary-light:hover{background-color:var(--color-primary-light)} /* search */
.hover\:bg-primary-lighter:hover{background-color:var(--color-primary-lighter)} /* search */
.hover\:bg-primary-dark:hover{background-color:var(--color-primary-dark)} /* no */
.hover\:bg-primary-darker:hover{background-color:var(--color-primary-darker)} /* no */
.hover\:bg-gray-100:hover{--tw-bg-opacity:1;background-color:rgba(243,244,246,var(--tw-bg-opacity))} /* no */
.hover\:bg-opacity-80:hover{--tw-bg-opacity:0.8} /* no */
.hover\:text-light:hover{color:var(--light)}
.hover\:text-primary:hover{color:var(--color-primary)} /* no */
.hover\:text-gray-700:hover{color:rgb(55,65,81)} /* no */
.hover\:text-gray-900:hover{color:rgb(17,24,39)} /* no */
.hover\:text-white:hover{color:rgb(255,255,255)}
.hover\:underline:hover{text-decoration:underline} /* no */
.active\:text-light{color:var(--light)}
.active\:bg-primary{background-color:var(--color-primary)}
.dark .dark\:active\:text-light{color:var(--light)}
.dark .dark\:active\:bg-primary{background-color:var(--color-primary)}
.group:hover .group-hover\:text-gray-900{--tw-text-opacity:1;color:rgba(17,24,39,var(--tw-text-opacity))}
.focus-within\:text-gray-700:focus-within{--tw-text-opacity:1;color:rgba(55,65,81,var(--tw-text-opacity))} /* no */
.focus\:bg-primary-100:focus{background-color:var(--color-primary-100)} /* no */
.focus\:outline-none:focus{outline:2px solid transparent;outline-offset:2px}
.focus\:ring:focus{--tw-ring-offset-shadow:var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);--tw-ring-shadow:var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color)} /* no */
.focus\:ring:focus{box-shadow:var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow,0 0 #0000)} /* no */
.focus\:ring-2:focus{--tw-ring-offset-shadow:var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);--tw-ring-shadow:var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color)} /* no */
.focus\:ring-primary-dark:focus{--tw-ring-color:var(--color-primary-dark)} /* no */
.focus\:ring-primary-darker:focus{--tw-ring-color:var(--color-primary-darker)} /* no */
.focus\:ring-primary:focus{--tw-ring-color:var(--color-primary)} /* no */
.focus\:ring-primary-lighter:focus{--tw-ring-color:var(--color-primary-lighter)} /* no */
.focus\:ring-primary-100:focus{--tw-ring-color:var(--color-primary-100)} /* no */
.focus\:ring-black:focus{--tw-ring-opacity:1;--tw-ring-color:rgba(0,0,0,var(--tw-ring-opacity))} /* no */
.focus\:ring-primary-light:focus{--tw-ring-color:var(--color-primary-light)} /* no */
.focus\:ring-offset-1:focus{--tw-ring-offset-width:1px} /* no */
.focus\:ring-offset-2:focus{--tw-ring-offset-width:2px}  /* no */
.focus\:ring-offset-white:focus{--tw-ring-offset-color:#fff} /* no */
.focus\:text-light:hover{color:var(--light)} /* no */
/* toggle - transform  - transition */
.scale-110{--tw-scale-x:1.1;--tw-scale-y:1.1}
.toggle:checked+span{top:0;left:1.5rem;background-color:var(--color-primary)}
.toggle:disabled+span{--tw-bg-opacity:1;background-color:rgba(107,114,128,var(--tw-bg-opacity));--tw-shadow:0 0 #0000;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}
.toggle:checked:disabled{--tw-bg-opacity:1;background-color:rgba(229,231,235,var(--tw-bg-opacity))}
.toggle:checked:disabled+span{background-color:var(--color-primary-lighter);--tw-shadow:0 0 #0000;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}
.toggle:focus+span{--tw-ring-offset-shadow:var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);--tw-ring-shadow:var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);box-shadow:var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow,0 0 #0000);--tw-ring-color:var(--color-primary-lighter)}
.transform{transform:var(--tw-transform)}
.-translate-x-full{--tw-translate-x:-100%;transform:var(--tw-transform)}
.translate-x-0{--tw-translate-x:0px;transform:var(--tw-transform)}
.translate-x-6{--tw-translate-x:1.5rem;transform:var(--tw-transform)}
.translate-x-full{--tw-translate-x:100%;transform:var(--tw-transform)}
.-translate-y-px{--tw-translate-y:-1px;transform:var(--tw-transform)}
.-translate-y-full{--tw-translate-y:-100%;transform:var(--tw-transform)}
.translate-y-0{--tw-translate-y:0px;transform:var(--tw-transform)}
.translate-y-px{--tw-translate-y:1px;transform:var(--tw-transform)}
.transition-colors{transition-property:background-color,border-color,color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1);transition-duration:.15s}
.transition-transform{transition-property:transform;transition-timing-function:cubic-bezier(.4,0,.2,1);transition-duration:.15s}
.transition{
transition-property:background-color,border-color,color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
transition-timing-function:cubic-bezier(.4,0,.2,1);transition-duration:.15s}
.transition-all{transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1);transition-duration:.15s}
.transition-opacity{transition-property:opacity;transition-timing-function:cubic-bezier(.4,0,.2,1);transition-duration:.15s}
/* animation - interaction */ 
.duration-150{transition-duration:.15s}
.duration-200{transition-duration:.2s}
.duration-500{transition-duration:.5s} /* no */
.ease-out{transition-timing-function:cubic-bezier(0,0,.2,1)} /* no */
.ease-in{transition-timing-function:cubic-bezier(.4,0,1,1)} /* no */
.ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)} /* no */
/* DarkMode */
.dark .dark\:outline-darker{outline-color: var(--darker);}
.dark .dark\:border-primary{border-color:var(--color-primary)} /* no */
.dark .dark\:border-primary-dark{border-color:var(--color-primary-dark)} /* no */
.dark .dark\:border-primary-darker{border-color:var(--color-primary-darker)}
.dark .dark\:border-primary-light{border-color:var(--color-primary-light)} /* no */
.dark .dark\:border-transparent{border-color:transparent} /* no */
.dark .dark\:border-gray-700{--tw-border-opacity:1;border-color:rgba(55,65,81,var(--tw-border-opacity))} /* no */
.dark .dark\:bg-black{background-color:var(--black)}
.dark .dark\:bg-dark{background-color:var(--dark)}
.dark .dark\:bg-darker{background-color:var(--darker)}
.dark .dark\:bg-primary{background-color:var(--color-primary)}
.dark .dark\:bg-primary-lighter{background-color:var(--color-primary-lighter)}
.dark .dark\:bg-primary-dark{background-color:var(--color-primary-dark)}
.dark .dark\:bg-primary-darker{background-color:var(--color-primary-darker)} /* no */
.dark .dark\:bg-primary-100{background-color:var(--color-primary-100)} /* no */
.dark .dark\:text-light{color:var(--light)}
.dark .dark\:text-primary-100{color:var(--color-primary-100)} /* no */
.dark .dark\:text-primary-light{color:var(--color-primary-light)} /* no */
.dark .dark\:text-primary-lighter{color:var(--color-primary-lighter)} /* no */
.dark .dark\:text-primary-dark{color:var(--color-primary-dark)} /* no */
.dark .dark\:text-primary{color:var(--color-primary)} /* no */
.dark .dark\:text-danger{color:rgba(220,38,38)} /* no */
.dark .dark\:text-gray-300{color:rgba(209,213,219)} /* no */
.dark .dark\:text-gray-400{color:rgba(156,163,175)} /* no */
.dark .dark\:text-blue-500{color:rgba(59,130,246)} /* no */
.dark .dark\:opacity-75{opacity:.75}
.dark .dark\:opacity-70{opacity:.7}
.dark .dark\:focus-within\:text-light:focus-within{color:var(--light)} /* no */
.dark .dark\:hover\:border-primary-light:hover{border-color:var(--color-primary-light)} /* no */
.dark .dark\:hover\:bg-primary:hover{background-color:var(--color-primary)} /* no */
.dark .dark\:hover\:bg-primary-dark:hover{background-color:var(--color-primary-dark)} /* no */
.dark .dark\:hover\:bg-primary-darker:hover{background-color:var(--color-primary-darker)} /* no */
.dark .dark\:hover\:text-light:hover{color:var(--light)} /* no */
.dark .dark\:hover\:text-primary:hover{color:var(--color-primary)} /* no */
.dark .dark\:hover\:text-primary-100:hover{color:var(--color-primary-100)} /* no */
.dark .dark\:hover\:opacity-100:hover{opacity:1} /* no */
.dark .dark\:focus\:bg-primary-dark:focus{background-color:var(--color-primary-dark)} /* no */
.dark .dark\:focus\:opacity-100:focus{opacity:1} /* no */
.dark .dark\:focus\:ring-primary-dark:focus{--tw-ring-color:var(--color-primary-dark)} /* no */
.dark .dark\:focus\:ring-primary-darker:focus{--tw-ring-color:var(--color-primary-darker)} /* no */
.dark .dark\:focus\:ring-offset-dark:focus{--tw-ring-offset-color:var(--dark)} /* no */
.dark .dark\:focus\:ring-offset-darker:focus{--tw-ring-offset-color:var(--darker)} /* no */
.dark .group:hover .dark\:group-hover\:text-primary-lighter{color:var(--color-primary-lighter)} /* no */
/*! MEDIA DEVICES */
@media (min-width:640px){
.sm\:max-w-md{max-width:20rem}
.sm\:mr-px{margin-right:1px;}
.sm\:mr-2{margin-right:.5rem}
.sm\:px-4{padding-left:.5em;padding-right:.5em;}
.sm\:flex-row{flex-direction:row} /* no */
.sm\:items-center{align-items:center} /* no */
.sm\:space-y-0>:not([hidden])~:not([hidden]){--tw-space-y-reverse:0;margin-top:calc(0px*(1 - var(--tw-space-y-reverse)));margin-bottom:calc(0px*var(--tw-space-y-reverse))} /* no */
.sm\:text-2xl{font-size:1.5rem;line-height:2rem} /* no */
.sm\:duration-500{transition-duration:.5s} /* no */
}
@media (min-width:768px){
.md\:static{position:static}
.md\:block{display:block}
.md\:flex{display:flex}
.md\:hidden{display:none}
.md\:grid-cols-2{grid-template-columns:repeat(2,minmax(0,1fr))}
.md\:items-center{align-items:center}
.md\:space-x-0>:not([hidden])~:not([hidden]){--tw-space-x-reverse:0;margin-right:calc(0px*var(--tw-space-x-reverse));margin-left:calc(0px*(1 - var(--tw-space-x-reverse)))} /* no */
.md\:m-1{margin:0 .25rem;}
.md\:m-2{margin:0.5rem;}
.md\:mr-4{margin:1rem;}
.md\:mr-6{margin-right:1.5rem;}
.md\:mr-8{margin-right: 2rem;}
.md\:mr-11{margin-right:2.75rem;}
.md\:p-8{padding:2rem}
.md\:px-4{padding-left:1em;padding-right:1em;}
.md\:py-4{padding-top:1em;padding-bottom:1em;}
.md\:text-3xl{font-size:1.875rem;line-height:2.25rem}
.md\:text-xl {font-size:1.25rem;line-height:1.75rem;}
.md\:text-3xl {font-size:1.875rem;line-height:2.25rem;}
}
@media (min-width:1024px){
.lg\:block{display:block}
.lg\:static{position:static}
.lg\:hidden{display:none}
.lg\:grid-cols-2{grid-template-columns:repeat(2,minmax(0,1fr))}
.lg\:grid-cols-3{grid-template-columns:repeat(3,minmax(0,1fr))}
.lg\:gap-8{gap:2rem}
.lg\:m-2{margin:0 .5rem;}
.lg\:p-4{padding:1rem}
.lg\:p-8{padding:2rem}
.lg\:py-4{padding-top:1rem;padding-bottom:1rem}
.lg\:py-6{padding-top:1.5rem;padding-bottom:1.5rem}
.lg\:space-y-0>:not([hidden])~:not([hidden]){--tw-space-y-reverse:0;margin-top:calc(0px*(1 - var(--tw-space-y-reverse)));margin-bottom:calc(0px*var(--tw-space-y-reverse))}
.lg\:text-xl{font-size:1.25rem;line-height:1.75rem;} /* 20px / 28px */
.lg\:text-4xl {font-size: 2.25rem;line-height: 2.5rem;}
.lg\:w-3\/5 {width: 60%;}
}
@media (min-width:1280px){
.xl\:sticky{position:sticky}
.xl\:z-0{z-index:0}
.xl\:hidden{display:none}
.xl\:grid-cols-4{grid-template-columns:repeat(4,minmax(0,1fr))}
.xl\:border-l{border-left-width:1px}}@media (min-width:1536px){.\32xl\:grid-cols-6{grid-template-columns:repeat(6,minmax(0,1fr))}
}
/* table-radius */
table tr {margin:0;padding:0;}
tr:first-child th:first-child {border-top-left-radius:.5rem;}
tr:first-child th:last-child {border-top-right-radius:.5rem;}
tbody tr:last-child th:first-child {border-bottom-left-radius:.5rem;}
tbody tr:last-child td:last-child {border-bottom-right-radius:.5rem;}
/* tr:hover {border-radius:.5rem; border-bottom:1px solid transparent;} */

#notificationWrapper{z-index:1000}
.notify-box:before {
  content: "";
  position: absolute;
  width: 64px;
  height: 64px;
  bottom: -2px;
  left: -4px;
  z-index: 0;
  border-radius: 0.35rem;
  background: radial-gradient(circle at 0% 50%, var(--color-primary), #fff0 3rem), radial-gradient(circle at -50% 50%, var(--color-primary-dark), #fff0 3rem);
  opacity: 0.45;
}
.notify-box { /* no */
display: flex;
align-items: center;
animation: flyIn 0.3s ease-out;
background: var(--black);
background: linear-gradient(90deg, #1f2333, #22232b);
border: 2px solid var(--dark);
border-radius: 8px;
box-shadow: 0 0.5em 1em hsla(210,10%,10%,0.4);
height: 4em;
margin: 1rem 0;
position:fixed;
right: 2rem;
width: 18rem;
}
.notify-in { /* no */
animation: flyIn 0.5s ease-in;
}
.notify-out { /* no */
animation: flyOut 0.5s ease-out forwards;
}

.notify-icon { /* no */
flex-shrink: 0;
margin: 0.5em;
width: 2em;
height: 2em;
}
.notify-icon > svg { /* no */
font-size: 2em;
}
.notify-text { /* no */
font-size: 0.85em;
font-weight: bold;
line-height: 1.5;
padding: 0.375em 1em;
place-content: center;
width: 100%;
height: 100%;  
}
button.notify-btn { /* no */
display: flex;
flex-direction: column;
flex-shrink: 0;
min-width: 4em;
height: 100%;
background-color: var(--color-primary-darker);
border: 1px solid var(--color-primary);
border-top-right-radius: 8px;
border-bottom-right-radius: 8px;
color: inherit;
font-size: .85em;
font-weight: 400;
place-content: center;
padding: 1rem 0.5rem;
transition: all .5s ease-in-out;
-webkit-appearance: none;
appearance: none;
-webkit-tap-highlight-color: transparent;
}
button.notify-btn:hover { /* no */
background: var(--color-primary-dark);
border: 1px solid var(--color-primary);
color: #f1f1f1;
}
.notify-btn-text { /* no */
display: inline-block;
pointer-events: none;
}
/* Animation */
@keyframes flyIn { /* no */
from {transform: translateY(100%);} 
to {transform: translateY(calc(0 - 1.5em));}
}
@keyframes flyOut { /* no */
from {transform: translateY(calc(0 - 1.5em));}
to {transform: translateY(-10&);}
}
/* Loader */
.loader>svg {margin: 0 auto;display: block;}
.loader>svg g:nth-child(1) {transform: translateX(50px);}
.loader>svg g:nth-child(2) {transform: translateX(50px) translateY(99px) rotate(180deg);}
.loader>svg g:nth-child(2) rect {
stroke: #ffc107;
animation: dash-reverse 2s linear;
animation-iteration-count: infinite;
}
.loader>svg g rect {
transform: rotate(45deg) skew(0, 45deg);
stroke: #d7d7d7;
stroke-width: 1;
stroke-dasharray: 25%, 75%;
stroke-linecap: square;
animation: dash 2s linear;
animation-iteration-count: infinite;
height: 25%;
width: 25%;
x: 5;
y: 5;
}
.loader>svg g rect:nth-child(1) {
x: 15;
y: -5;
}
.loader>svg g rect:nth-child(2) {
x: 25;
y: -15;
}
.loader>svg g rect:nth-child(3) {
x: 35;
y: -25;
}
@keyframes dash {to {stroke-dashoffset: 100;}} /* no */
@keyframes dash-reverse {to {stroke-dashoffset: -100;}} /* no */